@font-face {
    font-family: walkway;
    src: url(../fonts/Walkway_UltraBold.ttf);
}

@font-face {
    font-family: prime;
    src: url(../fonts/Prime.otf);
}
    
html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

body {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #fafafa;
}

.icon {
    font-size: 35px;
    color: #FFFFFF;
}

.header {
    background-color: #FFFFFF;
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 1em;
    font-size: 4em;
    text-align: center;
    transition: all 0.4s ease;
}

.cover {
    position: absolute;
    bottom: 100px;
    height: 100%;
    width: 100%;
    height: flex;
    background-image: url(../assets/img/winter.gif);
    background-size: cover;
}

.headertext {
    font-family: walkway;
    position: relative;
    top: 30px;
    width: 100%;
    font-size: 2.0em;
}

.subheadertext {
    font-family: walkway;
    position: relative;
    top: 40px;
    text-align: center;
    font-size: 0.5em;
}

.navbar {
    font-family: walkway;
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    line-height: 0;
    text-align: center;
    background: rgba(3, 13, 24, 0.96);
    transition: 0.2s transform;
    z-index: 1
}

.navbar.sticky {
    position: fixed;
    top: 0;
    height: 50px;
    background: #000000;
    transition: 0.2s ease;
}

.navigation {
    height: 100%;
    padding-right: 90px;
    overflow: hidden;
}   

#navbar ul {
    list-style-type: none;
    height: 100%;
    width: 100%;
    text-align: center;
}

.navbar li {
    display: inline-block;
    margin-left: 50px;
}

.navbar li a {
    height: 100%;
    position: relative;
    bottom: -3px;
    text-align: center;
    padding: 58px 30px 30px 40px;
    text-decoration: none;
    transition: 0.5s ease;
}

.navbar li a b {
    text-transform: uppercase;
    font-size: 0.3em;
    font-weight: 500;
    color: rgba(240, 238, 225, 0.3);
}

.navbar li a span {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    top: 50px;
    left: 39%;
    right: auto;
    transition: opacity 0.2s;
}

.navbar li a:hover b {
    color: #F0EEE1;
}

.navbar.animate {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.navbar.animate li a {
    top: -45px;
    left: 0%;
    padding: 26px 30px 0 30px;
    transition: 0.7s ease;
}

.navbar.animate li a span {
    opacity: 0;
}

.top-container {
    display: inline-block;
    position: fixed;
    top: 10px;
    right: 0px;
    opacity: 0;
    transition: right 0.5s ease;
}

.top-container.slide {
    right: 150px;
    opacity: 1;
}

.top-button {
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-size: cover; 
    border-radius: 7px;
    position: fixed;
    max-width: 10%;
    max-height: 30%;
    width: auto;
    height: auto;
}

.intro {
    display: block;
    height: 100%;
    width: 100%;
    background: #FFFFFF;
    color: #454545;
    padding-bottom: 90px;
    overflow: hidden;
}

.intro-text {
    position: relative;
    font-family: prime;
    font-size: 2.0em;
    font-weight: 100;
    margin-top: 200px;
    max-width: 100%;
    max-height: 100%;
    margin-left: 60px;
    margin-right: 60px;
    word-wrap: break-word;
    background: #FFFFFF;
    z-index: 0;
}

.intro-text {
    top: 0;
    padding-top: 150px;
    height: 100%;
    width: 800px;
    margin: 0 auto;
}

.hi {
    align-content: left;
    max-width: 10%;
    max-height: 10%;
    padding-right: 10px;
    left: 30%;
    float: left;
}

.intro-text span {
    font-weight: 100;
    align-content: left;
    text-align: left;
    color: #878787;
}

.about {
    display: inline-block;
    padding-top: 20px;
    font-size: 0.6em;
    text-indent: 40px;
}

.intro-text em {
    color: #00FF00;
}

.inner-intro {
    text-align: right;    
    font-size: 40px;
}

.inner-intro span {
    display: block;
}

.projects {
    display: inline-block;
    background: #F0F0F0;
    height: 100%;
    width: 100%;
}

.projects-text {
    position: absolute;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    font-family: prime;
    font-size: 4.0em;
    font-weight: 600;
}

.resume {
    display: inline-block;
    background: #FFFFFF;
    height: 100%;
    width: 100%;
}

.resume a {
    position: absolute;
    width: 100%;
    text-align: center;
    padding-top: 300px;
    font-size: 80px;
    
}

.line {
    width: 100%;
    height: 2px;
    background: #878787;
    margin-top: 30px;
}

.unselectable {
    cursor: default;
    user-select: none;
    user-drag: none;
}
