@font-face {
    font-family: walkway;
    src: url(../fonts/Walkway_UltraBold.ttf);
}

@font-face {
    font-family: prime;
    src: url(../fonts/Prime.otf);
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

body {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #fafafa;
}

.icon {
    font-size: 35px;
    color: #FFFFFF;
}

.header {
    background-color: #FFFFFF;
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 1em;
    font-size: 4em;
    text-align: center;
    transition: all 0.4s ease;
}

.cover {
    position: absolute;
    bottom: 100px;
    height: 100%;
    width: 100%;
    height: flex;
    background-image: url(../assets/img/winter.gif);
    background-size: cover;
}

.headertext {
    font-family: walkway;
    position: relative;
    top: 30px;
    width: 100%;
    font-size: 2.0em;
}

.subheadertext {
    font-family: walkway;
    position: relative;
    top: 40px;
    text-align: center;
    font-size: 0.5em;
}

.navbar {
    font-family: walkway;
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    line-height: 0;
    text-align: center;
    background: rgba(3, 13, 24, 0.96);
    transition: 0.2s transform;
    z-index: 1
}

.navbar.sticky {
    position: fixed;
    top: 0;
    height: 50px;
    background: #000000;
    transition: 0.2s ease;
}

.navigation {
    height: 100%;
    padding-right: 90px;
    overflow: hidden;
}   

#navbar ul {
    list-style-type: none;
    height: 100%;
    width: 100%;
    text-align: center;
}

.navbar li {
    display: inline-block;
    margin-left: 50px;
}

.navbar li a {
    height: 100%;
    position: relative;
    bottom: -3px;
    text-align: center;
    padding: 58px 30px 30px 40px;
    text-decoration: none;
    transition: 0.5s ease;
}

.navbar li a b {
    text-transform: uppercase;
    font-size: 0.3em;
    font-weight: 500;
    color: rgba(240, 238, 225, 0.3);
}

.navbar li a span {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    top: 50px;
    left: 39%;
    right: auto;
    transition: opacity 0.2s;
}

.navbar li a:hover b {
    color: #F0EEE1;
}

.navbar.animate {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.navbar.animate li a {
    top: -45px;
    left: 0%;
    padding: 26px 30px 0 30px;
    transition: 0.7s ease;
}

.navbar.animate li a span {
    opacity: 0;
}

.top-container {
    position: fixed;
    top: 0.5%;
    right: 0px;
    opacity: 0;
    transition: right 0.5s ease;
}

.top-container.slide {
    right: 150px;
    opacity: 1;
}

.top-button {
    position: fixed;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-size: cover; 
    border-radius: 7px;
    height: 40px;
    margin-left: -2%;
}

.intro {
    display: block;
    height: 100%;
    width: 100%;
    background: #FFFFFF;
    color: #454545;
    padding-bottom: 90px;
    overflow: hidden;
}

.intro-text {
    position: relative;
    font-family: prime;
    font-size: 2.0em;
    font-weight: 100;
    margin-top: 200px;
    max-width: 100%;
    max-height: 100%;
    margin-left: 60px;
    margin-right: 60px;
    word-wrap: break-word;
    background: #FFFFFF;
    z-index: 0;
}

.intro-text {
    top: 0;
    padding-top: 150px;
    height: 100%;
    width: 800px;
    margin: 0 auto;
    color: #878787;
}

.intro-text span {
    font-weight: 100;
    align-content: left;
    text-align: left;
}

.highlight {
    color: #66CCFF;
}

.hi {
    align-content: left;
    max-width: 10%;
    max-height: 10%;
    padding-right: 10px;
    left: 30%;
    float: left;
}

.about {
    display: inline-block;
    padding-top: 20px;
    font-size: 0.6em;
    text-indent: 40px;
}

.projects {
    display: inline-block;
    text-align: center;
    align-content: center;
    background: #F0F0F0;
    height: 100%;
    width: 100%;
}

.projects-text {
    position: relative;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    font-family: walkway;
    font-size: 6.0em;
    font-weight: 800;
}

.resume {
    text-align: center;
    display: inline-block;
    background: #FFFFFF;
    height: 100%;
    width: 100%;
    padding-bottom: 200px;
}

.resume i {
    align-content: center;
    text-align: center;
    line-height: 105px;
    vertical-align: center;
    font-size: 80px;
    color: #000000;
    height: 100%;
    width: 100%;
}

.columns {
    position: relative;
    margin-top: 200px;
    display: block;
    text-align: center;
}

.column {
    font-family: prime;
    display: inline-block;
    vertical-align: top;
    width: 300px;
    height: 400px;
    margin: 0 50px;
}

.column-title {
    font-size: 3em;
    color: #454545;
}

.column-content {
    font-size: 1.5em;
    color: #454545;
}

.resume-link {
    padding-left: 2px;
    font-family: prime;
    font-size: 2.7em;
    width: 300px;
    height: 68px;
    line-height: 62px;
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    box-sizing: border-box;
    outline: 3px solid;
    outline-color: #454545;
    outline-offset: 0;
    color: #454545;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 200px;
    cursor: pointer;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.resume-link:hover {
    background-color: #66A3FF;
    border: 3px solid;
    box-shadow: inset 0 0 30px rgba(255, 255, 255, .5), 0 0 30px rgba(255, 255, 255, .5);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    transition: 0.2s ease;
 
}

.resume-link:active {
    background-color: #0066FF;
    text-shadow: 1px 1px 2px #427388;    
}

.resume a {
    visibility: hidden;
    width: 100%;
    height: 100%; 
}

.contact {
    display: block;
    text-align: center;
    align-content: center;
    background: #F0F0F0;
    height: 100%;
    width: 100%;
    padding-bottom: 200px;
}

.contact-form {
    position: relative;
    align-content: center;
    font-family: prime;
    padding-top: 100px;
    height: 100%;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.name-div, .email-div {
    position: relative;
    font-size: 0.8em;
    align-content: center;
    background: #FFFFFF;
    margin-bottom: 25px;
    border: 3px solid #454545;
    width: 100%;
    height: 50px;
}

.name-div i, .email-div i {
    position: relative;
    display: inline-block;
    vertical-align: center;
    color: #888888;
    font-size: 30px;
    line-height: 50px;
    height: 100%;
    margin-left: 1%;
    margin-right: 1%;
    opacity: 0.7;
}

.vertical-wrapper {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    align-content: center;
    align-items: center;
    height: 100%;
    width: 2px;
    
}

.vertical-line {
    position: relative;
    display: inline-block;
    background: #888888;
    opacity: 0.7;
    height: 70%;
    width: 100%;
}

.name-tag, .email-tag, .message-tag {
    position: relative;
    font-size: 30px;
}

.name-field, .email-field {
    position: relative;
    display: inline-block;
    border: 0;
    outline: 0;
    margin-left: 2%;
    font-family: prime;
    font-size: 30px;
    width: 90%;
    height: 90%;
}

.message-field {
    position: relative;
    display: inline-block;
    border: 3px solid #454545;
    height: 250px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 30px;
}

.send {
    margin: 0 auto;
    font-size: 2.0em;
    border: 3px solid #000000;
    color: #878787;
    width: 100px;
    height: 40px;
    line-height: 39px;
    text-align: center;
    cursor: pointer;
}

.send:hover {
    color: #000000;
    border-color: #000000;
}

.send:active {
    box-shadow: 1px 1px 2px #454545;
    text-shadow: 1px 1px 2px #454545;    
}

.input-submit {
    display: none;
}

.hidden-link {
    text-decoration: none;
}

.circle {
    display: inline-block;
    border: 5px solid;
    border-color: #000000;
    border-radius: 50%;
    box-shadow: 0px 0px 2px #888;
    width: 100px;
    height: 100px;
}

.line {
    width: 100%;
    height: 2px;
    background: #878787;
    margin-top: 30px;
}

.unselectable {
    cursor: default;
    user-select: none;
    user-drag: none;
}
